@layer components {
  .header {
    @apply flex items-center justify-between py-3 md:px-16 px-[120px] transition duration-1000;
    @apply fixed top-0 left-0 right-0 z-40;

    @each $color, $value in $nav_color {
      &.header-#{$color} {
        background-color: $value;
      }
    }

    .nav {
      ul {
        @apply gap-20;
        @each $color, $value in $nav_color {
          .nav-li-#{$color} {
            @apply py-[10px] px-[10px];
            @apply font-semibold;
            color: $value;
  
            &:hover {
              color: #eb0028;
            }
          }
        }
      }
    }

    &.header-active {
      @apply bg-base-white;
    }
  }

  .nav-mobile {
    @apply fixed top-0 left-0 right-0 bottom-0;
    @apply flex flex-col items-center justify-center;
    @apply bg-dark-blue -z-10;
    @apply transition duration-200;
  }

  .sidebar {
    @apply font-poppins fixed top-0 bottom-0 left-0 min-w-[200px] bg-dark-blue z-30;
    @apply md:right-[unset] right-0;
    @apply transition duration-200;

    &.sidebar-open {
      @apply md:translate-x-0;
    }

    &.sidebar-close {
      @apply -translate-x-[1000px] md:-translate-x-0;
    }

    .sidebar-link {
      @apply text-light-purple hover:text-light-blue hover:underline transition duration-200 py-3 pl-3 text-sm;

      &.active {
        @apply bg-[#2E37A4] text-white;
        &::after {
          content: "";
          background-color: #36c2cf;
          width: 8px; /* Adjust width and height according to your spinner size */
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
  .sidebar-btn-toggle {
    @apply fixed h-[60px] left-0 top-1/2 -translate-y-1/2 bg-dark-blue;
    @apply rounded-r-xl grid place-items-center z-20;
  }
  .dropdown {
    @apply absolute top-20 right-10;
    @apply transition duration-200;
    @apply translate-y-40 opacity-0;
    @apply bg-white px-10 py-3 shadow-xl;
    @apply -z-10;

    &.dropdown-open {
      @apply translate-y-0 opacity-100 z-20;
    }
  }
  .backdrop {
    @apply fixed top-0 left-0 right-0 bottom-0 bg-black/20;
  }
}
